/* CARD */
.product-card {
  background: white;
  border: 0.5px solid rgb(206, 204, 204);
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* IMAGE AREA */
.product-image-box {
  height: 260px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebebeb;
}

.product-image-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* CONTENT */
.product-content {
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.product-category {
  background: #e8f0ff;
  color: #2b5cff;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  width: fit-content;
}

/* FIXED TITLE HEIGHT */
.product-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  height: 46px;
  overflow: hidden;
}

.product-rating {
  font-size: 14px;
  color: #777;
}

.product-price {
  font-size: 22px;
  font-weight: bold;
}

/* BUTTONS */
.card-buttons {
  display: flex;
  gap: 10px;
  margin-top: auto;
}

.common-button {
  flex: 1;
  padding: 5px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.details-btn {
  background: #f1f1f1;
}

.add-btn {
  background: linear-gradient(to right, #2b5cff, #1e3dd6);
  color: white;
}

.active {
  background-color: rgb(85, 99, 246);
  color: white;
}
